body {font-family: GothamPro,sans-serif; }
/* Адаптация гетто лав */

@media screen and (width: 1280px) and (height: 1024px) {
  body .ONEAS-hud-bottom {
    left: 1.2vh !important;
    bottom: 5.3vh;
    transform: scale(0.820) !important;
  }
}

@media screen and (width: 1280px) and (height: 800px) {
  body .ONEAS-hud-bottom {
    transform: scale(0.770) !important;
    left: 0.2vh !important;
    bottom: 4.3vh;
  }
}

@media screen and (width: 1440px) and (height: 900px) {
  body .ONEAS-hud-bottom {
      transform: scale(0.85) !important;
  }
}

/*----------hud---------*/

.ONEAS-hud-bottom {
    position: absolute;
    transform-origin: bottom left;
    left: 1.2vh;
    bottom: 4.7vh;
    display: flex;
}

body .ONEAS-hud__radar-border {
    position: relative;
    transform-origin: unset;
    left: auto;
    bottom: auto;
}

/*
.ONEAS-param__breath {
  position: absolute;
  background: #301e4180;
  width: 125px;
  height: 44px;
  top: 14.2vh;
  left: 25.8vh;
  background: url(https://imgbb.su/images/2023/08/16/BG-POD-DENGIe3f5d83283cb86ba.png) 0 0/contain no-repeat;
  display: flex;
  justify-content: center;
  padding-left: 0.8vh;
}*/

.ONEAS-param__breath {
  position: absolute;
  background: #301e4180;
  width: 125px;
  height: 44px;
  bottom: 23px;
  right: -96px;
  background: url(https://i.ibb.co/gFsZgdZ/image.png) 0 0/contain no-repeat;
  display: flex;
  justify-content: center;
  padding-left: 0.8vh;
}

.ONEAS-param__breath .ONEAS-param__amount {
  width: 39px;
}

.ONEAS-param__freeze {
    /* position: absolute; */
    /* transform-origin: bottom left; */
    margin-right: -45px;
    margin-top: 20px;
    background: url(https://i.ibb.co/mRKV6RY/freeze-bg-ghetto.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 125px;
    height: 44px;
    justify-content: center;
}

.ONEAS-param__freeze .ONEAS-param__amount {
    width: 39px;
}

.ONEAS-param__freeze .ONEAS-param__icon {
    width: 21px;
    margin-left: -25px;
}

  :root {


      --all-bg: rgba(48, 30, 65, 0.7);
      --text-shadow: 2px 1.5px 0 #000000, 0 -0.5px 0 #000000, 0 0.5px 0 #000000, 0 -0.5px 0 #000000, 0.5px 0 0 #000000, 0.5px 0 0 #000000, -0.5px 0 0 #000000, 0.5px 0 0 #000000, -0.5px -0.5px 0 #000000, 0.5px -0.5px 0 #000000, -0.5px 0.5px 0 #000000, 0.5px 0.5px 0 #000000, -0.5px -0.5px 0 #000000, 0.5px -0.5px 0 #000000, -0.5px 0.5px 0 #000000, 0.5px 0.5px 0 #000000;
      --border-1: #804BA9;
  }
  
@font-face {
  font-family: Ubuntu;
  src: url(fonts/Ubuntu-Bold.woff) format("woff"),
       url(fonts/Ubuntu-Bold.woff2) format('woff2'),
       url(fonts/Ubuntu-Bold.eot) format("eot"),
       url(fonts/Ubuntu-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Ubuntu;
  src: url(fonts/Ubuntu-Medium.woff) format("woff"),
       url(fonts/Ubuntu-Medium.woff2) format('woff2'),
       url(fonts/Ubuntu-Medium.eot) format("eot"),
       url(fonts/Ubuntu-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: ALSRubl;
  src: url(fonts/ALSRubl.woff) format("woff"),
       url(fonts/ALSRubl.woff2) format('woff2'),
       url(fonts/ALSRubl.eot) format("eot"),
       url(fonts/ALSRubl.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

  .keyboardLayout {
      position: absolute;
      top: 3.7vh;
      right: 1.05vh;
      font-size: 1.3vh;
      background-color: #fff;
      padding: 0.6vh;
      border-radius: 0.6vh;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
    }
    .ONEAS-hud__radar-border {
      position: absolute;
      transform-origin: bottom left;
      left: 8.6vh;
      bottom: 4.7vh;
      /* opacity: 0.5; */
  }
   .ONEAS-radar__images {
     
   }
   #app .hud-radmir-radar {
    display: none;
  }
  /*@font-face {
      font-family: SA_Money;
      src: url(fonts/SA_Money-Bold.eot) format("eot"), url(fonts/SA_Money-Bold.woff) format("woff"), url(fonts/SA_Money-Bold.ttf) format("truetype");
      font-weight: 600;
      font-style: normal;
      font-display: swap
  }
  */

  
  /*чат*/
  .scrolling-container::-webkit-scrollbar {
      display: none;
     }
     .radmir-chat-input__input {
         padding: 0 1vh;
         border-radius: 1.2vh;
         background: var(--all-bg);
         border: 0.18vh solid var(--border-1) !important;
      }
     .radmir-chat-input__input input {
      color: white !important;
     }
     .radmir-chat-input__input-lang {
         border-left: 0.18vh solid var(--border-1)!important;
         margin-top: -1px;
         padding: 1.2vh 0 1.3vh;
         color: #fff!important;
     }
     .radmir-chat:before {
      width: 70vw !important;
      background: linear-gradient(148deg,#141414d1 10%,#14141400 50%) !important;
     }
     
     /*.radmir-chat__messages-item {
      font-family: arial;
      font-weight: 900;
      text-shadow: -0.08vw -0.08vw 0 #000, 0 -0.08vw 0 #000, 0.08vw -0.08vw 0 #000, 0.08vw 0 0 #000, 0.08vw 0.08vw 0 #000, 0 0.08vw 0 #000, -0.08vw 0.08vw 0 #000, -0.08vw 0 0 #000;
     }*/
     
     .radmir-chat_inactive {
      opacity: 1 !important;
     }
  /*--------------------*/
  
  #app .hud-radmir-wanted {
   display: none;
  }
  /*деньги каз*/
  /*.ONEAS-hud__cash #ONEAS-cash__value {
      display: inline-block;
      width: 50vh;
      transform: scale(2.3, 1.3);
      letter-spacing: 1px;
      font-family: SAfonts;
      font-style: normal;
      color: #36662c;
      font-size: 54px;
      text-shadow: 0 -2px 0 #000000, 0 -2px 0 #000000, 0 2px 0 #000000, 0 2px 0 #000000, -2px 0 0 #000000, 2px 0 0 #000000, -2px 0 0 #000000, 2px 0 0 #000000, -1px -2px 0 #000000, 1px -2px 0 #000000, -1px 2px 0 #000000, 1px 2px 0 #000000, -2px -1px 0 #000000, 2px -1px 0 #000000, -2px 1px 0 #000000, 2px 1px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000;
  }*/
  
  
  /*------------------*/
  
  .ONEAS-hud-base {
      transform-origin: top right;
      position: absolute;
      right: 1vh;
      top: 0;
  }
  .ONEAS-hud__logo {
      position: absolute;
      top: 32px;
      right: 42px;
      transform-origin: top right;
  }
  .ONEAS-logo__image {
      width: 200px;
  }
  .ONEAS-logo__bonus {
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-size: 46.0478px;
      line-height: 65px;
      letter-spacing: -0.02em;
      text-shadow: 0.5px 0.5px 0px #000000;
      background: url(images/hud/bonus.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 74px;
      height: 64px;
      transform: scale(0.8) rotate(-5deg);
      color: white;
      position: absolute;
      top: -3px;
      left: -95px;
      text-align: center;
  }
  .ONEAS-hud__info {
      position: absolute;
      top: 90px;
      right: 19px;
      transform: scale(0.85);
      right: 0;
      transition: 0.35s;
  }
  .ONEAS-hud__weapon {
      position: absolute;
      right: 0;
      top: 0;
      /* right: 60px !important; */
  }
  .ONEAS-weapon__icon {
      /* position: absolute; */
      /* right: 21vh; */
      /* top: 2.6vh; */
      /* height: 139px; */
      /* top: 106px !important; */
      /* right: 60px !important; */
  }
  .ONEAS-weapon__ammo {
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 37px;
      letter-spacing: -0.02em;
      text-shadow: var(--text-shadow);
      color: white;
      position: absolute;
      bottom: -42px;
      right: 0;
      width: 100%;
      text-align: center;
      /* background: green; */
  }
  .ONEAS-weapon__ammo #ONEAS-ammo__in-clip {
      margin-right: 3px;
  }
  .ONEAS-weapon__ammo #ONEAS-ammo__total {
      color: #A1A1A1 ;
  }
  .ONEAS-weapon__ammo #ONEAS-ammo__total:before {
      content: '/';
      margin-right: 4px;
  }
  .ONEAS-hud__cash {
      /* right: 274px !important; */
      /* top: 253px !important; */
      position: absolute;
      left: 42px;
      bottom: 31px;
      /* transform: scale(1, 0.85); */
      display: inline-flex;
      align-items: center;
      flex-direction: row-reverse;
      width: 173px;
  }
  
  .ONEAS-hud__cash #ONEAS-cash__value::before {
      content: 'u';
      font-family: 'ALSRubl';
      font-weight: 400;
      margin-right: 8px;
  }
  
  .ONEAS-hud__cash #ONEAS-cash__value {
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 29px;
      color: #0FA91F;
      text-shadow: var(--text-shadow);
      /* display: flex; */
      /* gap: 8px; */
      /* width: 194px; */
  }


  .ONEAS-hud__params {
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      top: 23px;
      left: 12px;
      gap: 5px;
      justify-content: center;
  }
  .ONEAS-param {
      display: flex;
      align-items: center;
      /* gap: 5px; */
  }
  .ONEAS-param__amount {
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18.2099px;
      line-height: 19px;
      letter-spacing: -0.02em;
      text-shadow: var(--text-shadow);
      color: white;
      width: 60px;
      /* margin-right: 6px; */
      text-align: center;
      margin-bottom: 2px;
  }
  .ONEAS-param__progress {
      height: 12px;
      background: rgba(0, 0, 0, 0.5);
      border: 0.5px solid #101010;
      box-shadow: 0.5px 0.5px 0px #000000;
      border-radius: 50px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      width: 95px;
  }
  .ONEAS-progress__value {
      height: 12px;
      border-radius: 50px;
  }
  .ONEAS-param__icon {
      width: 30px;
  }
  .show-values .ONEAS-param__amount {
      opacity: 1;
  }

  
  .ONEAS-param__health .ONEAS-progress__value {
   width: 0%;
   background: linear-gradient(180deg, #FF6F83 -43.75%, #EF314C 54.17%, #FF6F83 156.25%) !important;
  }

  .ONEAS-param__armour {
      margin-left: 18px;
  }
  .ONEAS-param__armour .ONEAS-param__progress {
      width: 89px;
  }
  .ONEAS-param__armour .ONEAS-progress__value {
   width: 0%;
   background: linear-gradient(180deg, #4785AA -62.5%, #306585 48.44%, #4785AA 159.37%) !important;
  }
  
  .ONEAS-param__hunger {
      margin-left: 35px;
  }
  .ONEAS-param__hunger .ONEAS-param__progress {
      width: 84px;
  }
  .ONEAS-param__hunger .ONEAS-progress__value {
   width: 0%;
   background: linear-gradient(180deg, #EFA335 -50%, #FD8F31 57.91%, #EFA335 153.12%) !important;
   }
  
    
  
   .ONEAS-hud__wanted {
      transition: 0.35s;
      position: absolute;
      right: 16px;
      top: 104px;
      top: 14px;
      right: -38px;
      right: -40px;
      transform: scale(1.18);
  }
  .ONEAS-wanted__row {
      display: flex;
      flex-direction: column;
  }
  .ONEAS-wanted__row > img {
      width: 30px;
      height: 30px;
  }
  .ONEAS-wanted__row #ONEAS-wanted-1 {
      margin-left: -23px;
      margin-bottom: -1px;
  }
  .ONEAS-wanted__row #ONEAS-wanted-2 {
      margin-left: -8px;
  }
  .ONEAS-wanted__row #ONEAS-wanted-5 {
      margin-left: -8px;
  }
  .ONEAS-wanted__row #ONEAS-wanted-6 {
      margin-left: -23px;
      margin-top: -1px;
  }

  .ONEAS-hud__wanted--always-show .ONEAS-wanted__inactive {
   opacity: 0;
  }
  .ONEAS-hud__green-zone {
      position: absolute;
      transform-origin: bottom left;
      left: 3vh;
      bottom: 5vh;
      transition: 0.35s;
  }
  
  /* body {
      background-image: url(s.png);
  } */
  
  /* .test {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      gap: 10px;
  } */
  
  @keyframes turn {
   0% {
     opacity: 0.5;
   }
  
   to {
     opacity: 1;
   }
  }
  
  @keyframes speed {
      0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
    }
  
  /* #region --- DIGITS --- */
  .ONEAS-digit {
   /* width: 17px;
      height: 17px;
      background: hsl(0deg 100% 50%); */
  }
  
  .ONEAS-digit-big {
   width: 13px;
   height: 14px;
  }
  
  .ONEAS-digit-small {
   width: 10px;
   height: 10px;
  }
  
  .ONEAS-digit-small.ONEAS-digit-1 {
   width: 4px;
   height: 10px;
  }
  
  .ONEAS-digit-big.ONEAS-digit-1 {
   width: 6px;
   height: 14px;
  }
  
  .ONEAS-digit-big.ONEAS-digit-3 {
   width: 12px;
   height: 14px;
  }
  
  .ONEAS-digit-big.ONEAS-digit-4 {
   width: 14px;
   height: 14px;
  }
  
  .ONEAS-digit-big.ONEAS-digit-6 {
   width: 14px;
   height: 14px;
  }
  
  /* #endregion --- DIGITS --- */
  
  /* #region --- SPEEDOMETER --- */
  .ONEAS-speedometer {
      position: absolute;
      right: 310px;
      right: 5.7vh;
      bottom: -700px;
      display: flex;
      transform-origin: bottom right;
      transition: 0.35s;
      color: white;
      font-family: GothamPro, sans-serif;
      flex-direction: row-reverse;
  }
  
  .ONEAS-speedometer-bg {
      /* position: absolute; */
      z-index: -1;
  }
  
  /* #endregion --- SPEEDOMETER --- */
  
  /* #region --- SPEED --- */
  .ONEAS-speedometer-speed__bar-bg, .ONEAS-speedometer-speed__bar {
      position: absolute;
      top: 3px;
      right: 4px;
  }

  
.ONEAS-speedometer-speed__bar {
  /* transform: scale(1.2); */
  /* position: absolute; */
  /* margin-top: -9px; */
  /* margin-left: -9px; */
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  z-index: 1;
  filter: drop-shadow(0px 0px 10px rgb(255 255 255 / 50%));
}
.ONEAS-speedometer-speed__data {
  position: absolute;
  text-align: center;
  top: 48px;
  right: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.ONEAS-speedometer-speed__value {
  font-weight: 900;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: -0.02em;
}

.ONEAS-speedometer-speed__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
}

  
  /* #endregion --- SPEED --- */
  
  /* #region --- PARAMS --- */
  .ONEAS-speedometer__params {
      display: flex;
      position: absolute;
      bottom: 3px;
      left: 30px;
      gap: 18px;
  }
  .ONEAS-speedometer__params > div {
      /* width: 32px; */
      height: 32px;
      -webkit-mask-size: contain;
      background-color: #ffffff;
      opacity: 0.5;
      -webkit-mask-repeat: no-repeat;
  }
  
  .ONEAS-spedometer-param__lights {
   -webkit-mask: url(images/speed/light_icon.svg);
   width: 21px;
   margin-top: 3px;
  }
  
  .ONEAS-spedometer-param__key {
   -webkit-mask: url(images/speed/engine_icon.svg);
   width: 13px;
  }
  
  .ONEAS-spedometer-param__rem {
   -webkit-mask: url(images/speed/rem_icon.svg);
   width: 21px;
  }
  
  .ONEAS-spedometer-param__doors {
   -webkit-mask: url(images/speed/door_icon.svg);
   width: 17px;
   margin-top: 1px;
  }
  
  .ONEAS-speedometer__params > div.ONEAS-spedometer-param--active {
      opacity: 1;
  }
  
  /* .ONEAS-spedometer-param--inactive {
      background-color: #c83f3c;
  } */
  
  /* #endregion --- PARAMS --- */
  .ONEAS-speedometer__speed-params {
      align-items: center;
      position: absolute;
      text-align: center;
      bottom: 26px;
      right: 0;
      width: 50%;
      display: flex;
      flex-direction: column;
  }

  /* #region --- MILEAGE --- */
  
  .ONEAS-speedometer-mileage__value {
      font-weight: 300;
      font-size: 13px;
      line-height: 13px;
  }
  
  /* #endregion --- MILEAGE --- */
  
  /* #region --- TURNS --- */
  .ONEAS-speedometer__turns {
      display: flex;
      margin-top: 3px;
  }
  
  .ONEAS-speedometer__turns > div {
      width: 25px;
      height: 15px;
      -webkit-mask: url(images/speed/turn.svg);
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      background-color: hsl(0deg 0% 100%);
      opacity: 0.5;
  }
  
  .ONEAS-speedometer-turn__right {
   transform: rotate(180deg);
  }
  
  .ONEAS-speedometer-turn--active {
   animation: turn 0.4s linear 0s infinite alternate;
  }
  
  /* #endregion --- TURNS --- */

  
  
  /* #region --- FUEL --- */
  .ONEAS-speedometer__fuel {
      width: 35%;
      position: absolute;
      left: 40px;
      bottom: 58px;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 4px;
      justify-content: center;
  }

  .ONEAS-speedometer-fuel__icon {
      width: 16px;
      height: 18px;
      background-color: #ffffff;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask: url(images/speed/fuel_icon.svg);
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
  }
  .ONEAS-speedometer-data__text {
      font-size: 18px;
      line-height: 17px;
      letter-spacing: -0.02em;
      font-weight: 900;
      display: flex;
      gap: 3px;
  }
  
  
  /* #endregion --- FUEL --- */
  
  /* #region --- WASH --- */
  .ONEAS-speedometer__wash {
  }
  .ONEAS-speedometer-wash__icon {
      -webkit-mask: url(images/speed/wash_icon.svg);
      width: 17px;
      height: 17px;
      background-color: #ffffff;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      position: absolute;
      right: -12px;
      top: 33px;
  }
  .ONEAS-speedometer-data__wash {
      position: absolute;
      bottom: -15px;
      right: -11px;
  }
  .ONEAS-speedometer-wash__bar {
      z-index: 1;
      position: absolute;
      stroke-dasharray: 185;
      stroke-dashoffset: 185;
      filter: drop-shadow(0px 0px 10px rgb(255 255 255 / 50%));
     /* filter: drop-shadow(0px 0px 10px rgb(255 255 255 / 50%));*/
  }
  
  /* #endregion --- WASH --- */
  
  /* #region --- DAMAGE --- */
  
  .ONEAS-speedometer-damage__icon {
      -webkit-mask: url(images/speed/damage_icon.svg);
      width: 17px;
      height: 17px;
      background-color: #ffffff;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      position: absolute;
      right: 163px;
      top: 38px;
  }

  .ONEAS-speedometer-data__damage {
      position: absolute;
      top: -13px;
      right: 4px;
  }

  .ONEAS-speedometer-damage__bar {
      z-index: 1;
      position: absolute;
      stroke-dasharray: 185;
      stroke-dashoffset: 185;
      filter: drop-shadow(0px 0px 10px rgb(255 255 255 / 50%));
  }
  
  /* #endregion --- DAMAGE --- */
  
      /* #region --- DANGER --- */

      .ONEAS-speedometer-danger > div:first-child {
          background-color: hsl(6deg 80% 58%);
      }

      /*.ONEAS-speedometer-danger::before {
          content: '';
          background-image: url(danger.png);
          width: 217px;
          height: 165px;
          position: absolute;
          top: -16px;
          left: -20px;
          background-position: center;
          background-size: cover;
     }*/

        
     .ONEAS-speedometer-danger .ONEAS-speedometer-data__text, 
     .ONEAS-speedometer-danger > div svg:first-child path {
      color: hsl(6deg 80% 58% / 100%);
      stroke: hsl(7deg 81% 57%);
  }
  .ONEAS-speedometer-danger > div:last-child svg {
      filter: drop-shadow(0px 0px 15px #EA4D39);
  }
  
        
        /* #endregion --- DANGER --- */

/* Тахометр */
        
.ONEAS-tachometer-glow .ONEAS-tachometer-value {
  color: #0fa91f;
}


.ONEAS-speedometer__tachometer {
  width: 224px;
  height: 95px;
  background: url(images/speed/back-tachometer.png);
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 300px;
  bottom: 3px;
  flex-direction: column;
  gap: 18px;
}

#ONEAS-tachometer-gear {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 15px;
}
#ONEAS-tachometer-rpm {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: -30px;
}
.ONEAS-tachometer-text {
  color: #FFF;
  font-family: GothamPro;
  font-size: 16.2px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -.02em
}
.ONEAS-tachometer-value {
  color: #FFF;
  font-family: GothamPro;
  font-size: 16.2px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -.02em
}

/*--------------время и дата-----------*/
.ONEAS-time {
  width: 90px;
}
/*
.ONEAS-hud__time-data {
  transform-origin: bottom center;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  bottom: 0.5%;
  padding: 1vh 0;
  width: 40vh;
  left: 11%;
  transform: translate(-50%);
}*/

.ONEAS-hud__time-data {
  transform-origin: bottom center;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  bottom: -30px;
  left: 72px;
}

.ONEAS-hud__time-data>div {
  font-family: GothamPro;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 10px rgb(0 0 0 / 50%);
  text-align: center;
}


/*авторизация*/


#app .authorization {
  background-image: url(images/else/auth-bg.jpg);
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

#app .login-auth .login-head__subtitle:before {
  content: "Ввод данных";
  display: block;
  width: 60vh;
  font-size: 3.94vh;
  font-weight: 600;
  line-height: 100%;
  color: #fff;
  position: relative;
  font-style: normal;
  text-shadow: 0 0 10px #70707080;
}

#app .login-head__subtitle {
  color: transparent;
  margin-bottom: -4vh;
}

#app .authorization-field,
#app .login-head__username {
  height: 4.63vh;
  box-sizing: border-box;
  border: 0.19vh solid #ffffff91;
  outline: 0;
  border-radius: 0.74vh;
  padding: 0 1.67vh;
  color: #ffffffd6;
  font-size: 1.3vh;
  width: 46.48vh;
  position: relative;
  font-weight: 400;
  background: none;
}

#app .login-auth .authorization-field,
#app .login-auth .login-head__username {
  margin-top: 7.89vh;
}

#app .login-head {
  margin: 0;
}

#app .authorization-field__box {
  margin-top: 0.4vh;
  border: none;
}

#app .login-form,
#app .registration-bonuses,
#app .registration-form,
#app .registration-personalization {
  width: 46.48vh;
}

#app .authorization .login {
  margin-top: -18vh;
  margin-left: 10vh;
}

#app .authorization-field:before,
#app .login-head__username:before {
  content: "Введите логин*";
  position: absolute;
  left: 0;
  top: -3vh;
  font-size: 1.67vh;
  line-height: 100%;
  color: #ffffffb3;
  background: 0 0;
  width: 100%;
  margin-bottom: 1.11vh;
  height: auto;
}

#app .login-auth .authorization-field:before {
  content: "Введите пароль*";
}

#app .login-google-auth .authorization-field:before {
  content: "Введите значение*";
}

#app .registration-bonuses .authorization-field:before {
  content: "Введите ник пригласившего (или пропустите)*";
}

#app .registration-form>div:first-child .authorization-field:before {
  content: "Введите e-mail*";
}

#app .registration-form>div:nth-child(2) .authorization-field:before {
  content: "Придумайте пароль (мин. 6 символов)*";
}

#app .registration-form>div:nth-child(3) .authorization-field:before {
  content: "Повторите пароль*";
}

#app .login-form-push {
  top: 12.55vh;
  background: #000000ab;
}

#app .login-form-push:before {
  border-right: 1.11vh solid #000000ab;
}

.authorization-field__box>input::-webkit-input-placeholder {
  color: transparent;
}

#app .login-form__button,
#app .registration-bonuses__button,
#app .registration-form__button,
#app .registration-personalization__button {
  padding: 0 4.63vh;
  height: 6.11vh;
  border-radius: 0.74vh;
  background: #fff;
  transition-duration: 0.25s;
  cursor: pointer;
  display: inline-block;
  font-family: GothamPro;
  line-height: 6.11vh;
  font-size: 2.04vh;
  color: #000;
  font-weight: 500;
  width: 17vh;
  text-transform: capitalize;
}

#app .registration-personalization-switcher__text,
#app .registration__title-icon {
  display: none;
}

#app .registration-personalization__button {
  width: 24vh;
}

#app .registration-bonuses__button {
  width: 36vh;
}

#app .login-form__button:hover,
#app .registration-form__button_active {
  box-shadow: 0 1.11vh 2.04vh #ffffff80;
  opacity: 1;
}

#app .registration-form__button:hover,
#app .registration-personalization__button:hover {
  box-shadow: 0 1.11vh 2.04vh #ffffff40;
  opacity: 0.8;
}

#app .authorization-field__input {
  color: #ffffffd6;
  font-size: 1.3vh;
}

#app .registration {
  margin-left: 10vh;
}

#app .registration .registration__container {
  gap: 0;
}

#app .registration__title {
  color: #fff;
}

#app .registration .authorization-field {
  margin-top: 6vh;
}

#app .registration-form__confirm {
  font-family: GothamPro;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.67vh;
  color: #ffffffb3;
  font-size: 1.67vh;
  line-height: 100%;
  font-weight: 400;
}

#app .registration-form__checkbox_active {
  background: #fff;
  border-color: #fff;
}

#app .registration-form__checkbox {
  border-radius: 0.4vh;
}

#app .registration-form__check {
  margin-top: 3.89vh;
}

#app .registration-personalization-switcher__button {
  width: 6.11vh;
  height: 6.11vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.74vh;
  cursor: pointer;
  margin-left: 1.11vh;
  transition-duration: 0.25s;
  padding: 0;
}

#app .registration-personalization-switcher__icon {
  width: 2vh;
  height: 2vh;
  fill: white;
}

#app .registration-personalization-switcher>div.registration-personalization-switcher__button:first-child {
  border: 0.19vh solid #527ff1;
  background: 0 0;
  margin: 0;
}

#app .registration-personalization-switcher>div.registration-personalization-switcher__button_active:first-child {
  background: #527ff1;
}

#app .registration-personalization-switcher>div.registration-personalization-switcher__button:last-child {
  border: 0.19vh solid #d152f1;
  background: 0 0;
}

#app .registration-personalization-switcher>div.registration-personalization-switcher__button_active:last-child {
  background: #d152f1;
}

#app .registration-personalization-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 13.33vh);
  grid-template-rows: repeat(auto-fill, 16.85vh);
  grid-gap: 1.11vh;
  width: 27.78vh;
  max-height: 53vh;
  padding-right: 1.85vh;
  overflow: overlay;
}

#app .registration-personalization-item {
  width: 13.33vh;
  height: 16.85vh;
  border-radius: 0.74vh;
  border: 0.19vh solid #ffffff69;
  background: 0 0;
}

#app .registration-personalization-item__skin {
  width: 70%;
}

#app .registration-personalization-item_active {
  border: 0.19vh solid #ffffff;
}

#app .registration-personalization-item:hover {
  border: 0.19vh solid #fff;
}

#app .registration-personalization {
  gap: 4vh;
  margin-top: 2vh;
}

#app .login-google-auth .login-head__title {
  width: 60vh;
  line-height: 5vh;
}

#app .login-google-auth .login-head {
  margin-bottom: 5vh;
}

#app .login-google-auth .login-head__title:before {
  width: 7.89vh;
  height: 5.89vh;
}

#app .login-head__title {
  margin-bottom: 6vh;
  font-size: 3.94vh;
  font-weight: 600;
  line-height: 100%;
  color: #fff;
  position: relative;
  font-style: normal;
  text-shadow: 0 0 10px #70707080;
}


.auth-head {
  font-size: 0vh !important;
}

.auth-head::after {
  display: none;
}

.auth-buttons .button:after {
  background: #fff !important;
}

.auth-buttons .button.active,
.auth-input.active .auth-input__label {
  color: #fff !important;
}

.auth-buttons .button {
  color: hsla(0, 0%, 100%, 0.45) !important;
}

.auth-button:hover {
  box-shadow: 0 1.11vh 2.04vh rgba(255, 255, 255, 0.25) !important;
}

.auth-button {
  color: #000 !important;
  background: #fff !important;
}

.auth-input.active input {
  border: 0.19vh solid #fff !important;
  color: #fff !important;
}

.auth-input.active input::placeholder {
  color: #fff !important;
}

.auth-input__label {
  color: hsla(0, 0%, 100%, 0.7) !important;
}

.auth-head,
.auth-title {
  color: #d9d9d9 !important;
}

.auth-input input {
  border: 0.19vh solid hsla(0, 0%, 100%, 0.45) !important;
}

.auth-input input,
.auth-input input::placeholder {
  color: hsla(0, 0%, 100%, 0.45) !important;
}

.auth-head:after {
  background: #d9d9d9 !important;
}

.auth-aggregate.hidden {
  opacity: 100% !important;
}

.auth-modal {
  background: #3d225c;
}

.auth,
.auth-head {
  background-size: cover;
}

.auth-terms .document .checkbox svg {
  fill: #000000 !important;
}

.auth-terms .document .checkbox.active,
.auth-terms .document .checkbox:hover {
  background: #fff !important;
  border: 0.19vh solid #fff !important;
}

.auth-button.play {
  left: 0 !important;
}

.auth {
  background-image: url(images/else/auth-bg.jpg);
  background-position: 50%;
}

.auth-head {
  height: 26vh;
}

.auth-overlay,
.auth-overlay.state2 {
  background-image: none !important;
}


